@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 74%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

input{
    background-color: #4c2885;
    border-radius: 10px;
    border: none;
    color:white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0,0,0, 0.1) 0px 8px 24px;
}
input::placeholder{
    color: rgb(175, 174, 174);
}
input:focus{
    outline: none;
}

.card{
    background-color: #3b2066;
    background-image: linear-gradient(315deg, #2a2a72 0%, #44198a 100%); 
    display: flex;
    padding: 3rem;
    border-radius:15px;
    box-shadow: rgba(0,0,0, 0.1) 0px 8px 24px;
    max-width: 800px;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid #2a2a72;
}
.user-info{
    margin-left: 2rem;
    color: #eee;
}
.user-info h2{
    margin-top: 0;
}
.user-info ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}
.user-info ul strong {
    font-size: 0.5em;
}